/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply  p-2 m-4 text-sm font-semibold shadow-md;
}

.btn-primary{
    @apply outline-none focus:outline-none  bg-purple-200 hover:bg-purple-400;
}